.main {}

.main_content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  padding: 15px 30px;
  background-color: aliceblue;
}

.row {
  height: calc(100vh - 65.63px);
  display: flex;
}