.main {
  flex: 1 1 auto;
}

.main_content {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: calc(100vh - 65.63px);
  overflow-wrap: break-word;
  padding: 15px 30px;
  background-color: aliceblue;
}

.row {
  display: flex;
  max-width: 1080px;
  min-height: 100%;
}