.nav {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  min-width: 200px;
  max-width: 300px;
  min-height: 100%;
  background-color: rgb(21, 87, 96);
}

.item a {
  color: aliceblue;
}

.col {
  display: flex;
  flex-direction: column;
}

.item {
  font-size: 20px;
  font-weight: 600;
  color: rgb(41, 34, 34);
}

.hover:hover {
  color: rgb(187, 218, 160);
  transition: .2s;
}

.item:not(:last-child) {
  flex: 1 1 auto;
  margin-bottom: 10px;
}

.item a.active {
  color: rgb(249, 182, 0);
}